In [48]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

# 导入数据

In [49]:
data_excel = pd.ExcelFile("./data/2023_MCM_Problem_Y_Boats.xlsx")
data_excel.sheet_names

['Monohulled Sailboats ', 'Catamarans']

合并excel表格的两个sheets并打上'Hull Num'标签。

In [50]:
df_mono = data_excel.parse(sheet_name='Monohulled Sailboats ')
df_mono.insert(loc=len(df_mono.columns), column='Hull Num',value='Monohulled Sailboats')
df_multi = data_excel.parse(sheet_name= 'Catamarans')
df_multi.insert(loc=len(df_multi.columns), column='Hull Num',value='Catamarans')
df = pd.concat([df_mono, df_multi])
df.rename(columns={'Length \n(ft)':'Length (ft)'}, inplace=True)
df

,Make,Variant,Length (ft),Geographic Region,Country/Region/State,Listing Price (USD),Year,Hull Num
0,Alubat,Ovni 395,41.0,Europe,France,267233,2005,Monohulled Sailboats
1,Bavaria,38 Cruiser,38.0,Europe,Croatia,75178,2005,Monohulled Sailboats
2,Bavaria,38 Cruiser,38.0,Europe,Croatia,66825,2005,Monohulled Sailboats
3,Bavaria,38 Cruiser,38.0,Europe,Croatia,54661,2005,Monohulled Sailboats
4,Bavaria,38 Cruiser,38.0,Europe,Croatia,53447,2005,Monohulled Sailboats
...,...,...,...,...,...,...,...,...
1140,Lagoon,50,48.0,Europe,Greece,788937,2019,Catamarans
1141,Lagoon,50,48.0,Europe,Greece,788937,2019,Catamarans
1142,Bali,5.4,55.5,Europe,Greece,1246325,2019,Catamarans
1143,Bali,5.4,55.5,Europe,Italy,811143,2019,Catamarans
1144,Privilege,Series 5,56.0,USA,Florida,1495000,2019,Catamarans

# Data Cleaning

In [51]:
df_invalid_row = df[df.isnull().values == True]

注意到只在'Country/Region/State'这一列会出现NaN值，没有其他问题，这里选择剔除这几行，可以作为interesting findings看能不能通过机器学习的回归方法猜测这几艘船的'Country/Region/State'。

In [53]:
df_cleaned = df.dropna()
df_cleaned.to_excel('./data/2023_MCM_Problem_Y_Boats_cleaned.xlsx')

# 初步数据可视化和统计分析