## 探索分析
要想两个数据表格合并，需要一点策略，我们需要做些探索分析

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from scipy.stats import ks_2samp
from scipy.stats import pearsonr
import plotly.figure_factory as ff
from pyecharts.charts import Map
from pyecharts import options

In [3]:
df_pa = pd.read_excel('../../data/爬取的数据.xlsx', sheet_name='非二手帆船')
df_mcm = pd.read_excel('../../data/2023_MCM_Problem_Y_Boats_cleaned.xlsx')
df_mcm.head()

,Unnamed: 0,Make,Variant,Length (ft),Geographic Region,Country/Region/State,Listing Price (USD),Year,Hull Num
0,0,Alubat,Ovni 395,41.0,Europe,France,267233,2005,Monohulled Sailboats
1,1,Bavaria,38 Cruiser,38.0,Europe,Croatia,75178,2005,Monohulled Sailboats
2,2,Bavaria,38 Cruiser,38.0,Europe,Croatia,66825,2005,Monohulled Sailboats
3,3,Bavaria,38 Cruiser,38.0,Europe,Croatia,54661,2005,Monohulled Sailboats
4,4,Bavaria,38 Cruiser,38.0,Europe,Croatia,53447,2005,Monohulled Sailboats

In [20]:
df_pa['Make-Variant'] = df_pa['Basics.Make'].astype(str) + '-' + df_pa['Basics.Model'].astype(str)
df_mcm['Make-Variant'] = df_mcm['Make'].astype(str) + '-' + df_mcm['Variant'].astype(str)

In [21]:
pa_list= df_pa['Make-Variant'].unique()
mcm_list = df_mcm['Make-Variant'].unique()

In [22]:
len(pa_list), len(mcm_list)

(1094, 440)

In [30]:
import Levenshtein
def roughly_in(m, li):
    distances = np.array(list(map(lambda i:Levenshtein.distance(m, i), li)))
    smallest= np.min(distances)
    index  = np.argmin(distances)
    if smallest==0:
        return True
    # if smallest<2:
    #     print(f"勉强认为一样：‘{m}’ 和 ‘{li[index]}’")
    #     return True
    return False
    
# [m in pa_list for m in mcm_list].count(True) #54
[roughly_in(m, pa_list) for m in mcm_list].count(True)

54